<ng-container *ngIf="(currentUser$ | async) as currentUser">
  <div class="container">
    <div class="row postulant">
      <div class="col s12 postulant-header">
        <div class="row">
          <div class="col s12 m9">
            <h3>Assistants</h3>
          </div>
          <div class="col s12 m3 right-align">
            <a routerLink="/credentials" class="postulant-print-btn waves-effect waves-light btn">Credentials</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m4">
        <input type="text" name="search" class="form-control" placeholder="Search assistants" [(ngModel)]="searchTerm"
          (ngModelChange)="searchAssistant()">
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let assistant of assistants; index as i">
          <ng-container *ngIf="assistant.visibleInSearch">
            <td>{{ i + 1 }}</td>
            <td>{{ assistant.fullName }}</td>
            <td>
              <p *ngIf="!rfidInputEnabled || (rfidInputEnabled && assistant.id !== currentAssistant.id)">
                <a (click)="enableEditingRFID(assistant)">
                  <i class="fas fa-edit"></i>
                </a>
                RFID#:
                <b [ngClass]="{ 'red-text': !assistant.rfid, 'green-text text-darken-1': assistant.rfid }">
                  {{ assistant.rfid ? assistant.rfid : 'Do not forget the RFID' }}
                </b>
              </p>
              <div *ngIf="rfidInputEnabled && assistant.id === currentAssistant.id">
                <a (click)="saveAssistantRFID(currentUser, assistant)"><i class="fas fa-save"></i></a>
                <div class="input-field inline">
                  <input id="rfid" type="text" [(ngModel)]="assistant.rfid"
                    (keyup.enter)="saveAssistantRFID(currentUser, assistant)">
                  <label for="rfid">RFID#</label>
                </div>
              </div>
              <p>
                <label>
                  <input type="checkbox" [checked]="assistant.checkIn"
                    (change)="postunlantsService.checkInAssistant(currentUser, assistant)">
                  <span>CheckIn</span>
                </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" [checked]="assistant.feeForLunchReceived" [disabled]="!assistant.checkIn"
                    (change)="postunlantsService.markFeeForLunchAsReceived(currentUser, assistant)">
                  <span>FeeForLunch</span>
                </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" [checked]="assistant.firstSnackDelivered" [disabled]="!assistant.checkIn"
                    (change)="postunlantsService.markFirstSnackAsDelivered(currentUser, assistant)">
                  <span>Snack#1</span>
                </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" [checked]="assistant.lunchDelivered"
                    [disabled]="!assistant.checkIn || !assistant.feeForLunchReceived"
                    (change)="postunlantsService.markLunchAsDelivered(currentUser, assistant)">
                  <span>Lunch</span>
                </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" [checked]="assistant.secondSnackDelivered" [disabled]="!assistant.checkIn"
                    (change)="postunlantsService.markSecondSnackAsDelivered(currentUser, assistant)">
                  <span>Snack#2</span>
                </label>
              </p>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
