<div class="container">
  <table class="highlight">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Institution</th>
        <th>Class</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let postulant of postulants$ | async; index as i" class="postulant-row"
        [routerLink]="['/postulants', postulant.id]">
        <td>{{ i + 1 }}</td>
        <td>{{ postulant.fullName }}</td>
        <td>{{ postulant.institution }}</td>
        <td>{{ postulant.class }}</td>
      </tr>
    </tbody>
  </table>
</div>
