<div class="container">
  <table class="highlight">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th class="hide-on-small-only">Institution</th>
        <th class="hide-on-small-only">Age</th>
        <th class="hide-on-small-only">Phone</th>
        <th>Accept</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let postulant of postulants$ | async; index as i" class="postulant-row">
        <td [routerLink]="['/postulants', postulant.id]">{{ i + 1 }}</td>
        <td [routerLink]="['/postulants', postulant.id]">{{ postulant.fullName }}</td>
        <td class="hide-on-small-only" [routerLink]="['/postulants', postulant.id]">{{ postulant.institution }}</td>
        <td class="hide-on-small-only" [routerLink]="['/postulants', postulant.id]">{{ postulant.age }}</td>
        <td class="hide-on-small-only" [routerLink]="['/postulants', postulant.id]">{{ postulant.phone }}</td>
        <td class="center-align">
          <label>
            <input type="checkbox" [checked]="postulant.accepted" (change)="acceptPostulant(postulant)">
            <span></span>
          </label>
        </td>
      </tr>
    </tbody>
  </table>
</div>
