<div class="container">
  <table class="highlight">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th class="hide-on-small-only">Institution</th>
        <th class="hide-on-small-only">Age</th>
        <th class="hide-on-small-only">Phone</th>
        <th>Accept</th>
        <th>Sent</th>
        <th>Confirmed</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let postulant of postulants$ | async; index as i" class="postulant-row">
        <td [routerLink]="['/postulants', postulant.id]">{{ i + 1 }}</td>
        <td [routerLink]="['/postulants', postulant.id]">{{ postulant.fullName }}</td>
        <td class="hide-on-small-only" [routerLink]="['/postulants', postulant.id]">{{ postulant.institution }}</td>
        <td class="hide-on-small-only" [routerLink]="['/postulants', postulant.id]">{{ postulant.age }}</td>
        <td class="hide-on-small-only" [routerLink]="['/postulants', postulant.id]">{{ postulant.phone }}</td>
        <td class="center-align">
          <label>
            <input type="checkbox" [checked]="postulant.accepted"
              (change)="postulantService.acceptPostulant(postulant)">
            <span></span>
          </label>
        </td>
        <td class="center-align">
          <label>
            <input type="checkbox" [checked]="postulant.credentialSent" [disabled]="!postulant.accepted"
              (change)="postulantService.markCredentialAsSent(postulant)">
            <span></span>
          </label>
        </td>
        <td class="center-align">
          <label>
            <input type="checkbox" [checked]="postulant.confirmedAssistant"
              [disabled]="!postulant.accepted || !postulant.credentialSent"
              (change)="postulantService.confirmPostulantAssistance(postulant)">
            <span></span>
          </label>
        </td>
        <td>
          <a class="modal-trigger" href="#delete-postulant" (click)="setSelectedPostulant(postulant)">
            <i class="fas fa-trash-alt"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div wcModal id="delete-postulant" class="modal">
  <ng-container *ngIf="selectedPostulant">
    <div class="modal-content">
      <h4>Delete Postulant</h4>
      <div class="center-align">
        <p>Are you sure you want to delete this postulant: {{ selectedPostulant.fullName }}?</p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="modal-close waves-effect waves-light btn ok-btn"
        (click)="setSelectedPostulant(null)">Cancel</button>
      <button class="modal-close waves-effect waves-light btn cancel-btn"
        (click)="postulantService.deleteData(selectedPostulant)">Delete</button>
    </div>
  </ng-container>
</div>
