<div class="container">
  <div class="row postulant">
    <div class="col s12 postulant-header">
      <div class="row">
        <div class="col s12 m9">
          <h3>Assistants Credentials</h3>
        </div>
        <div class="col s12 m3 right-align">
          <a class="postulant-print-btn waves-effect waves-light btn" (click)="printCredentials()">Print</a>
        </div>
      </div>
    </div>
    <div class="col s12 center-align">
      <wc-postulant-credential *ngFor="let assistant of assistants$ | async" [postulant]="assistant" canvasWidth="391"
        canvasHeight="636">
      </wc-postulant-credential>
    </div>
    <div class="col s12 center-align">
      <p class="hide-on-med-and-up">You can't preview credentials on mobile.</p>
    </div>
  </div>
</div>
