@import './styles.colors';
@import '~materialize-css/sass/materialize';
@import '~css-star-rating/scss/star-rating';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

wc-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a {
  cursor: pointer;
}

.modal-close {
  margin-left: 6px !important;
}

.ok-btn {
  background-color: $success-color;
}

.cancel-btn {
  background-color: $error-color;
}

.postulant {
  &-header {
    position: relative;
  }

  @media #{$medium-and-up} {
    &-print-btn {
      position: absolute;
      margin-bottom: 1.424rem;
      right: 10px;
      bottom: 20px;
    }
  }
}
